/* Animations
========================================================================== */

// Use keyframe mixin used in functions.scss

@include keyframes(example-name) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// Usage
.element {
    @include animation('example-name 5s 3');
}

.collapsable {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    will-change: max-height;
}
.collapse-toggler {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;
    .read-more { 
        text-decoration: underline;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        transition: transform .3s ease-out .3s;
        transform: translateY(100%);
        &:hover {
            text-decoration: none;
        }
    }
    .read-less { 
        text-decoration: underline;
        transition: transform .3s ease-out .3s;
        display: block; 
        &:hover {
            text-decoration: none;
        }
    }
}

.collapsed .collapse-toggler {
    .read-more { transform: translateY(0%); }
    .read-less { transform: translateY(-100%); }
}