/*
========================================================================== 
    App Links
========================================================================== 
*/

a {
    color: $color_primary;
    &:hover {
        color: $color_primary;
        text-decoration: none;
    }
}

.bg--dark {
    a {
        color: #ffffff;
        &:hover {
            color: #ffffff;
        }
    }
}

a.link--primary {
    color: $color_primary;
    &:hover {
        color: $color_primary;
        text-decoration: none;
    }
}

a.link--secondary {
    color: $color_secondary;
    &:hover {
        color: $color_secondary;
        text-decoration: none;
    }
}

a.link--accent {
    color: $color_accent;
    &:hover {
        color: $color_accent;
        text-decoration: none;
    }
}

.dark {
    a {
        color: $white-smoke;
        &:hover {
            color: $white-smoke;
            text-decoration: none;
        }
    }
}
