/*
========================================================================== 
    Lists
========================================================================== 
*/

ul {
    padding: 0;
    list-style: none;
}

ol,
ul {
    li {
        margin-bottom: 0;
    }
}
