/*
========================================================================== 
    Sections
========================================================================== 
*/
.bg--dark {
    position: relative;
    background-color: black;
    color: white;
}

section:not(.blend),
footer {
    z-index: 3;
    position: relative;
}