/*****************************************************************************
 Pagination
 TODO: Add default styling
 ***************************************************************************** */

.pagination {
}

hr {
    border: 0;
    border-bottom: 2px solid #fff;
    margin: 0;
}