/*****************************************************************************
 * Titles
 ***************************************************************************** */

.section__title {
    font-size: 88px;
    line-height: 64px;
    margin-bottom: 60px;
    font-weight: 600;
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;

    &--small {
        font-size: 54px;
        line-height: 0.8;
        margin-bottom: 30px;
    }

    @include media-breakpoint-up(sm) {
        font-size: 180px;
        line-height: 130px;
        margin-bottom: 100px;
        padding-top: 130px;
        br {
            display: none;
        }

        &--small {
            font-size: 120px;
            line-height: 0.8;
            padding-top: 60px;
        }
    }

    @include media-breakpoint-up(xl) {
        font-size: 220px;
        line-height: 160px;

        &--small {
            font-size: 120px;
            padding-top: 60px;
            line-height: 0.8;
        }
    }
}

.bg--dark {
    .section__title:not(.section__title--small) {
        background-image: url("../../img/text-bg.png");
        -webkit-background-clip: text;
        color: transparent;
        background-size: 100vw 100vw;
        background-attachment: fixed;
    }
}

.loading {
    .section-banner-hero {
        opacity: 0;
    }
    .title-wrapper {
        background-color: #000;
    }
    svg {
        font-family: Arial, Helvetica, sans-serif;
    }
}
.title-wrapper {
    z-index: 2;
    background-color: rgba(#ff0000, 0.7);
    font-size: 88px;
    line-height: 64px;
}

svg {
    width: 100%;
    font-family: "HF Stencil 2019";
    font-display: auto !important;    
    height: 230px;

    &.single-row {
        height: 166px;
    }
    
    @include media-breakpoint-up(md) {
        height: 320px;

        &.single-row {
            height: 320px;
        }
    }

    @include media-breakpoint-up(xl) {
        height: 390px;

        &.single-row {
            height: 390px;
        }
    }
    
    text {
        text-transform: uppercase;
        text-anchor: middle;
    }
    .alpha {
        fill: #fff;
    }
    .title {
        font-size: 0;
        tspan {
            font-size: 88px;
            line-height: 64px;
            font-weight: 600;

            @include media-breakpoint-up(sm) {
                font-size: 160px;
                line-height: 130px;
            }

            @include media-breakpoint-up(xl) {
                font-size: 220px;
                line-height: 160px;
            }
        }
    }
    .base {
        fill: #000;
    }
}
