/*
========================================================================== 
    Site navigation
========================================================================== 
*/

.countdown__wrapper,
.text__wrapper {
    position: relative;
    perspective: 800px;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(sm) {
        height: 700px;
    }
}

.images-reel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;

    height: 270px;
    width: 100%;
    overflow: hidden;
    transform: rotate3d(1, 0, 0, -75deg);
    transform-origin: top;
    -webkit-mask-image: -webkit-gradient(
        linear,
        center 70%,
        center bottom,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
    );

    @include media-breakpoint-up(sm) {
        height: 700px;
    }

    &--down {
        top: auto;
        bottom: 0;
        transform: rotate3d(1, 0, 0, 75deg);
        transform-origin: bottom;
        -webkit-mask-image: -webkit-gradient(
            linear,
            center 30%,
            center top,
            from(rgba(0, 0, 0, 1)),
            to(rgba(0, 0, 0, 0))
        );
    }

    .images-wrapper {
        position: relative;
        height: 100%;

        .image {
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            width: 100%;
            padding-top: 56.25%;
            margin-top: 270px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            transform: translateY(0);
            transition-delay: 0s;
            transition: transform 0s linear;

            @include media-breakpoint-up(sm) {
                margin-top: 700px;
            }
        }
    }
}

.playing .images-reel .images-wrapper {
    .image {
        transform: translateY(calc(-100% - 700px));
        transition: transform 6s linear;
        @for $i from 1 through 100 {
            &:nth-child(#{$i}) {
                transition-delay: #{$i * 1.4}s;
            }
        }

        @include media-breakpoint-up(sm) {
            transition: transform 3s linear;
        }
    }
}

.countdown,
.text__wrapper h1 {
    font-family: $font-family-heading;
    color: #000000;
    font-weight: 600;
    font-size: 30px;
    line-height: 0.83;
    margin-bottom: 0;
    @include media-breakpoint-up(sm) {
        font-size: 85px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 110px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 140px;
    }
}
