/*
========================================================================== 
    Site navigation
========================================================================== 
*/

.section-banner-hero {
    padding-top: 15px;
    padding-bottom: 50px;

    .section__title {
        margin-bottom: 30px;
        font-size: 60px;
        line-height: 45px;
    }
    &__description {
        &,
        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
        }
    }

    @include media-breakpoint-up(sm) {
        padding-top: 70px;
        padding-bottom: 130px;
        .section__title {
            font-weight: 600;
            padding-top: 0;
            margin-bottom: 100px;
            font-size: 150px;
            line-height: 0.7222;
        }

        &__description {
            &,
            p {
                font-size: 36px;
                line-height: 45px;
            }
        }
    }
    @include media-breakpoint-up(xl) {
        .section__title {
            font-size: 180px;
        }
    }
}
