/*
========================================================================== 
    Site navigation
========================================================================== 
*/

.section-banner-cta {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            font-size: 54px;
            line-height: 0.75; 
        }

        @include media-breakpoint-up(sm) {
            h2 {
                font-size: 64px;
            }
        }
        @include media-breakpoint-up(lg) {
            h1 {
                font-size: 120px;
                line-height: 220px;
            }
            p {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}