/* Footer
========================================================================== */

footer {
    padding-top: 70px;
    padding-bottom: 100px;
    .section__title {
        padding-top: 0;
        text-align: left;
        h2 {
            font-size: 70px;
            line-height: 52px;
        }
    }

    @include media-breakpoint-up(sm) {
        .section__title h2 {
            font-size: 110px;
            line-height: 82px;
            br {
                display: block;
            }
        }
    }
}

.social-media {
    display: flex;

    &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ffffff;
        border-radius: 50%;
        text-decoration: none;

        width: 37px;
        height: 37px;
        font-size: 16px;
        margin-right: 10px;

        &:hover {
            background-color: #ffffff;
            i {
                color: #000000;
            }
        }
    }
}
