/*
========================================================================== 
    Site navigation
========================================================================== 
*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    

    .loading & {
        opacity: 0;
    }

    nav {
        position: fixed;
        width: 100%;
        background-image: url('../../img/gradient-bg.png');
        background-size: 200% 200%;
        background-position: 0% 0%;
        transition: all 0.33s ease;
        opacity: 0;
        pointer-events: none;
    }
    ul.menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .menu-item a {
        font-family: $font-family-heading;
        font-weight: 600;
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        line-height: 1;
        font-size: 36px;
        text-align: center;
    }

    .menu-open & {
        nav {
            background-position: 100% 100%;
            opacity: 1;
            pointer-events: all;
        }
    }
    @include media-breakpoint-up(md) {
        .menu-item a {
            line-height: 1;
            font-size: 100px;
            padding: 0;
        }
    }
}

// @include media-breakpoint-up(md) {
//     main {
//         transition: filter 0.4s linear;
//         filter: blur(0px);
//         .menu-open & {
//             filter: blur(5px);
//         }
//     }
// }

/*
========================================================================== 
    Mobile toggle
========================================================================== 
*/
.navigation-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;

    height: 40px;
    width: 40px;
    pointer-events: all;

    span {
        background-color: $color_base;
        display: block;
        height: 3px;
        border-radius: 1.5px;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 19px;
        transition: transform $default-transition, opacity $default-transition, background-color $default-transition;
        width: 100%;

        &:nth-child(1) {
            transform: translateY(-9px) rotate(0deg);
        }
        &:nth-child(2) {
            transform: translateY(0px) rotate(0deg);
            opacity: 1;
        }
        &:nth-child(3) {
            transform: translateY(9px) rotate(0deg);
        }
    }

    .menu-open & {
        span {
            &:nth-child(1) {
                transform: translateY(0px) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translateY(0px) rotate(0deg);
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(0px) rotate(-45deg);
            }
        }
    }
}

.menu--light:not(.menu-open) .navigation-toggle {
    span {
        background-color: white;
    }
}
