/* Footer
========================================================================== */

.partners-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.partners-group {
    display: inline-flex;
    flex-direction: column;

    &-images {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
    }

    .partner-item {
        width: 28vw;
        padding: 0 15px 30px;
        max-width: 235px;
        @include media-breakpoint-up(sm) {
            width: calc(16.6666666667vw - 30px);
            
            img {
                width: 70%;
            }
        }
    }
}
