/* Footer
========================================================================== */


.section-puzzle {

    h2 {
        font-size: 54px;
        line-height: 0.75;
    }

    @include media-breakpoint-up(sm) {
        h2 {
            font-size: 64px;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 120px;
        h2 {
            font-size: 120px;
        }
    }
}
