/* Footer
========================================================================== */

.recipe__grid-item {
    position: relative;
    width: 100%;
    height: 0;
    display: block;
    margin-bottom: 30px;
    padding-top: 100%;
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        width: 100%;
        height: 25%;
        left: 0;
        bottom: 0;
        position: absolute;
        background-image: linear-gradient(transparent, #000);
    }

    .recipe__title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        font-size: 30px;
        line-height: 25px;
        padding: 5px;
    }

    @include media-breakpoint-up(sm) {
        .recipe__title {
            font-size: 60px;
            line-height: 50px;
        }
    }
}

.single-recipe {
    position: relative;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s linear;

    h2,
    h3 {
        font-size: 30px;
        line-height: 25px;
    }
    @include media-breakpoint-up(sm) {
        h2 {
            font-size: 72px;
            line-height: 60px;
        }
        h3 {
            font-size: 40px;
            line-height: 32px;
        }

        ul {
            li {
                line-height: 25px;
            }
        }
    }
}
