/* Footer
========================================================================== */

.section-videos-grid {
    padding-bottom: 10px;
    @include media-breakpoint-up(sm) {
        .video__title {
            font-size: 40px;
            line-height: 32px;
        }

        .video__data {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 50px;
        }
    }
}
