/*
========================================================================== 
    App Books
========================================================================== 
*/

.book__wrapper {
    margin-bottom: 20px;

    .book__cover {
        margin-bottom: 20px;
    }
    .book__title {
        font-size: 30px;
        line-height: 25px;
    }

    .book__data {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .book__description {
        font-size: 14px;
        line-height: 20px;
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: 100px;
        .book__cover {
            width: 70%;

            img {
                max-height: 65vw;
                width: 100%;
                -o-object-fit: contain;
                object-fit: contain;
                object-fit: contain;
                -o-object-position: left;
                object-position: left;
                font-family: 'object-fit: contain; object-position: left;';
            }
        }

        .book__details {
            width: 100%;
            padding-top: 0px;
        }

        .book__title {
            font-size: 64px;
            line-height: 48px;
            margin-bottom: 15px;
        }

        .book__data {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 40px;
        }

        .book__description {
            font-size: 20px;
            line-height: 26px;
        }
    }

    @include media-breakpoint-up(xl) {
        .book__cover {
            width: 50%;
        }

        .book__details {
            width: 80%;
            padding-top: 50px;
        }
    }
}

// Layout
@include media-breakpoint-up(sm) {
    .book__wrapper {
        & > .col-sm-6:first-child {
            display: flex;
            justify-content: flex-end;
        }
        & > .col-sm-6:last-child {
            display: flex;
            justify-content: flex-start;
        }

        &:nth-child(2n + 1) {
            flex-direction: row-reverse;
            & > .col-sm-6:first-child {
                justify-content: flex-start;
            }
            & > .col-sm-6:last-child {
                justify-content: flex-end;
            }
        }
    }
}
