/*
========================================================================== 
    App Buttons
========================================================================== 
*/

.button {
    display: inline-flex;
    padding: 5px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid $color-primary;
    background: $color-primary;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color $default-transition, border $default-transition,
        color $default-transition;

    &:hover,
    &.hover {
        background: #fff;
        border-color: #fff;
        color: #000;
    }

    &:active,
    &.active {
        background: $color-primary-hover;
        border-color: $color-primary-hover;
        color: #fff;
    }

    // Color variants
    &--primary {
        border-color: $color-primary;
        color: $color-primary;

        &:hover,
        &.hover {
            background: $color-primary;
            border-color: $color-primary;
            color: #fff;
        }

        &:active,
        &.active {
            background: $color-primary-hover;
            border-color: $color-primary-hover;
            color: #fff;
        }
    }

    &--accent {
        border-color: $color-accent;
        color: $color-accent;

        &:hover,
        &.hover {
            background: $color-accent;
            border-color: $color-accent;
            color: #fff;
        }

        &:active,
        &.active {
            background: $color-accent-hover;
            border-color: $color-accent-hover;
            color: #fff;
        }
    }

    &--primary-full {
        background: $color-primary;
        border-color: $color-primary;
        color: #fff;
        &:not(.button--arrow):hover,
        &.hover:not(.button--arrow) {
            background: #fff;
            border-color: #fff;
            color: $color-primary;
        }
    }

    &--accent-full {
        background: $color-accent;
        border-color: $color-accent;
        color: #fff;

        &:not(.button--arrow):hover,
        &.hover:not(.button--arrow) {
            background: #fff;
            border-color: #fff;
            color: $color-accent;
        }
    }

    i[class^='icon-'] {
        flex: 0 0 24px;
        margin-left: 0.5rem;
        transition: transform $default-transition;
    }
}

.bg--dark {
    .button {
        background: #fff;
        border-color: #fff;
        color: #000;

        &:hover,
        &.hover {
            background: #000;
            border-color: #fff;
            color: #fff;
        }

        &:active,
        &.active {
            background: $color-primary-hover;
            border-color: $color-primary-hover;
            color: #fff;
        }
    }
}



.background-canvas {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
  }
  
  #iridescence {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  