/*
========================================================================== 
    App Videos
========================================================================== 
*/

.video__wrapper {
    margin-bottom: 20px;

    .video__iframe {
        position: relative;
        height: 0;
        padding-top: 56.25%;
        width: 100%;
        margin-bottom: 15px;
        & > iframe {
            width: 100%;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    .video__title {
        font-size: 30px;
        line-height: 25px;
    }

    .video__data {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .video__description {
        font-size: 14px;
        line-height: 20px;
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: 40px;

        .video__title {
            font-size: 64px;
            line-height: 48px;
            margin-bottom: 15px;
        }

        .video__data {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 40px;
        }

        .video__description {
            font-size: 20px;
            line-height: 26px;
        }
    }
}

.video__wrapper--square {
    display: flex;
    flex-direction: column;

    .video__iframe {
        padding-top: 100%;
        order: -1;
        background-size: cover;
        background-position: center;
        i {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
        }
    }

    @include media-breakpoint-up(sm) {
        .video__data {
            margin-bottom: 15px;
        }

        .video__iframe {
            order: 0;
            i {
                font-size: 80px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .scroll-horizontal-mobile {
        flex-wrap: nowrap;
        overflow: scroll;

        & > .col-12 {
            max-width: 60vw;
            display: block;
            flex: 0 0 60vw;
        }
    }
}

@include media-breakpoint-up(sm) {
    .section-videos-list-horizontal {
        .video__title {
            min-height: 96px;
            display: flex;
            align-items: flex-end;
            word-break: break-word;
        }
    }
}
