@font-face {
    font-family: 'Euclid Flex';
    src: url('#{$font-path}/EuclidFlex/EuclidFlexBold.eot');
    src: url('#{$font-path}/EuclidFlex/EuclidFlexBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EuclidFlex/EuclidFlexBold.woff2') format('woff2'),
        url('#{$font-path}/EuclidFlex/EuclidFlexBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('#{$font-path}/EuclidFlex/EuclidFlex.eot');
    src: url('#{$font-path}/EuclidFlex/EuclidFlex.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EuclidFlex/EuclidFlex.woff2') format('woff2'),
        url('#{$font-path}/EuclidFlex/EuclidFlex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('#{$font-path}/EuclidFlex/EuclidFlexBoldItalic.eot');
    src: url('#{$font-path}/EuclidFlex/EuclidFlexBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EuclidFlex/EuclidFlexBoldItalic.woff2') format('woff2'),
        url('#{$font-path}/EuclidFlex/EuclidFlexBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('#{$font-path}/EuclidFlex/EuclidFlexMedium.eot');
    src: url('#{$font-path}/EuclidFlex/EuclidFlexMedium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EuclidFlex/EuclidFlexMedium.woff2') format('woff2'),
        url('#{$font-path}/EuclidFlex/EuclidFlexMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Flex';
    src: url('#{$font-path}/EuclidFlex/EuclidFlexItalic.eot');
    src: url('#{$font-path}/EuclidFlex/EuclidFlexItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EuclidFlex/EuclidFlexItalic.woff2') format('woff2'),
        url('#{$font-path}/EuclidFlex/EuclidFlexItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

