@font-face {
    font-family: "HF Stencil 2019";
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Bold.eot");
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Bold.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Bold.woff2") format("woff2"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Bold.woff") format("woff"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Bold.svg#HFStencil2019-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HF Stencil 2019";
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Light.eot");
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Light.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Light.woff2") format("woff2"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Light.woff") format("woff"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Light.svg#HFStencil2019-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HF Stencil 2019";
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Medium.eot");
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Medium.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Medium.woff2") format("woff2"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Medium.woff") format("woff"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Medium.svg#HFStencil2019-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HF Stencil 2019";
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Regular.eot");
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-Regular.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Regular.woff2") format("woff2"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Regular.woff") format("woff"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-Regular.svg#HFStencil2019-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HF Stencil 2019";
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-SemiBold.eot");
    src: url("#{$font-path}/HFStencil2019/HFStencil2019-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-SemiBold.woff2") format("woff2"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-SemiBold.woff") format("woff"),
        url("#{$font-path}/HFStencil2019/HFStencil2019-SemiBold.svg#HFStencil2019-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
