@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i3zvsh');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i3zvsh#iefix')
            format('embedded-opentype'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?i3zvsh')
            format('truetype'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?i3zvsh')
            format('woff'),
        url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?i3zvsh##{$icomoon-font-family}')
            format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'],
[class*=' button--']::after {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


$icon-play: "\e900";
$icon-instagram: "\e901";
$icon-youtube: "\e902";
$icon-facebook: "\e903";
$icon-twitter: "\e904";


.icon-play {
    &:before {
      content: $icon-play; 
    }
  }
  .icon-instagram {
    &:before {
      content: $icon-instagram; 
    }
  }
  .icon-youtube {
    &:before {
      content: $icon-youtube; 
    }
  }
  .icon-facebook {
    &:before {
      content: $icon-facebook; 
    }
  }
  .icon-twitter {
    &:before {
      content: $icon-twitter; 
    }
  }
  
  