/*
========================================================================== 
    App Font families
========================================================================== 
*/

$font-family-base: 'Euclid Flex', Helvetica, Arial, sans-serif;
$font-family-heading: 'HF Stencil 2019', Helvetica, Arial, sans-serif;

$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../../fonts/icomoon' !default;

$font-path: '../../fonts' !default;
